<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
  
  <servlet>
    <servlet-name>defaultServlet</servlet-name>
    <servlet-class>edu.rits.ma.webapp.servlet.MyGenericServlet</servlet-class>
  	<init-param>
			<param-name>corpName</param-name>
			<param-value>Techburg</param-value>
	</init-param>
  </servlet>
  
  <servlet>
    <servlet-name>nashEquilibriumServlet</servlet-name>
    <servlet-class>edu.rits.ma.webapp.servlet.NashEquilibriumSolverServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>defaultServlet</servlet-name>
    <url-pattern>/app.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>nashEquilibriumServlet</servlet-name>
    <url-pattern>/solve.do</url-pattern>
  </servlet-mapping>
  
</web-app>   