<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

  <context-param>
    <param-name>cookie_expire_time</param-name>
    <param-value>
	10
    </param-value>
  </context-param>

  <context-param>
    <param-name>authenticated_redirect</param-name>
    <param-value>
	secure/mypage.do
    </param-value>
  </context-param>

  <context-param>
    <param-name>noauthenticated_forward</param-name>
    <param-value>
	jsp/login.jsp
    </param-value>
  </context-param>

  <servlet>
    <servlet-name>authenticateServlet</servlet-name>
    <servlet-class>com.techburg.AuthenticateServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>authenticateServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>userPageServlet</servlet-name>
    <servlet-class>com.techburg.UserPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>userPageServlet</servlet-name>
    <url-pattern>/secure/mypage.do</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>publicFilter</filter-name>	
    <filter-class>com.techburg.PublicServletFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>publicFilter</filter-name>	
    <url-pattern>/public/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>secureFilter</filter-name>	
    <filter-class>com.techburg.SecureServletFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>secureFilter</filter-name>	
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>

</web-app>   
